

$white: #fff;
$main-color:#ee7560;
$star-color: #ffb727;
$gray-100: #f0f0f0;
$gray-200: #e0e0e0;
$gray-300: #ababab;
$gray-400: #818181;
$gray-600: #6f6f6f;
$gray-700: #666;
$gray-800: #323232;
$gray-900: #1e1e1e;
$link-font: 1.2rem;
$second-color: #1f3258;
$black : #000;
// $pink-color: #ee7560;
