
.carosel-image{
    width: 170.625px;
    background-color: $second-color;
    opacity: 1;
    overflow: hidden;
    &__img{
        width: 100%;
        display: block;
        overflow: hidden;
        transition: all 0.2s ease-in-out 0s;
        opacity: 0.4;
        &:hover{
            opacity: 1;
            transform: scale(1.2, 1.2);
        }
    }
}  
