
.free-inputs{
    background-position: 50% -12px;
    background-image: url(../images/free-bg.png);
    // border-radius: 50% / 12%;
    margin: 0 -10rem;
    background-color: $second-color;
    color: $white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    &::before{
        opacity: 0.8;
        bottom: 0;
        content: "";
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
    &__container{
        max-width: 120rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        margin-right: auto;
        margin-left: auto;
        text-align: center;      
    }
    &__title {
        margin: 0 auto;
        font-size: 3.8rem;
        font-weight: 900;
        line-height: 1;
        word-wrap: break-word;
        margin: 0;
        padding-top: 20rem;
    }
    &__small{
        font-size: 1.8rem;
        font-weight: 500;
        letter-spacing: 1.1px;
        line-height: 1rem;
        text-transform: uppercase;
    }
    &__head{
        color: $pink-color;
        font-size: 7rem;
        margin-top: 1.2rem;
        letter-spacing: 0.19em;
    }
    &__discription {
        color: $white;
        font-size: 3rem;
        font-weight: 100;
        line-height: 4rem;
        margin-top: 2rem;
        text-transform: unset;
        letter-spacing: 1.1px;
    }
}