.clients-slide {
    background: #f3f3f308;
    transition: 0.5s;
    // width: 247.5px;
    margin-right: 4rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    &:hover{
        background: $white;
        transition: 0.5s;
    }
}